<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sing-up form</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{messages.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <h3>Singup Form</h3>
        {{form.as_p}}
        <button type="submit">SingUp</button>
    </form>
</form>
</body>
</html>