<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>
    <h1>Youtube user list</h1>

    {% load cache %}
    {% cache 30 user_list_section %} 
    <table border="1" cellpadding="8">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subscribers</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.subscribers}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endcache %}

</body>
</html>