{% extends "base.html" %}
{% block title%} blog {% endblock %}

{% block content %}

<h1>Welcome student</h1>

{% if students %}
<table>
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
    </thead>
    
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.city}}</td>
        </tr>
        {% endfor %}
    </tbody>
{% else %}
<p type="danger">No student Data avaliable</p>
    
</table>
{% endif %}



{% endblock %}